body{ background: linear-gradient(to bottom right, white,#bcbdc4);
height:400px;}
.header1{
	position:fixed;
	width:100%;
	height:70px;
	background:#142170;
	top:0;
	left:0;
	color:white;
	z-index:7;
	
}
#img3{
height:30px;
}
#searcharea{top:17px;
left:320px;
height:40px;
}
#searchbox{width:350px;
height:26px;
background:white;
padding:5px;
outline:none;
border-radius: 10px/10px;
}
#profilearea{top:15px;
left:700px;
height:40px;
}
#profilearea1{top:30px;
left:740px;
height:20px;
font-size:20px;
font-family:verdana;}
a{color:white;
text-decoration:none}
#profilearea3{top:15px;
left:810px;
height:30px;
font-size:30px;
font-family:verdana;}
#profilearea4{top:30px;
left:830;
height:20px;
font-size:20px;
font-family:verdana;}
#findf{top:20px;
left:925px;
height:30px;}
#message{top:20px;
left:980px;
height:30px;}
#notification{top:15px;
left:1040px;
height:30px;}
#profilearea2{top:15px;
left:1100px;
height:30px;
font-size:30px;
font-family:verdana;}
#setting{top:15px;
height:30px;
left:1120px;}
#logout{top:15px;
height:30px;
left:1185px;}

.bodyn{top:70px;
left:30px;
position:absolute;
width:200px;
height:740px;
font-family:verdana;
}
#side1{top:0;
left:10px;
width:180px;
height:30px;
font-size:20px;
color:#868383;}
#side2{top:69px;
left:10px;
width:180px;
height:15px;
font-size:15px;
color:#363030;}
#side3{top:100px;
left:10px;
width:160px;
height:25px;
font-size:15px;
color:#363030;
padding-top:5px;
padding-left:20px;
}
#side4{top:130px;
left:10px;
width:160px;
height:25px;
font-size:15px;
color:#363030;
padding-top:5px;
padding-left:20px;
}
#side5{top:160px;
left:10px;
width:160px;
height:25px;
font-size:15px;
color:#363030;
padding-top:5px;
padding-left:20px;
}
#side6{top:190px;
left:10px;
width:160px;
height:25px;
font-size:15px;
color:#363030;
padding-top:5px;
padding-left:20px;
}
#side7{top:220px;
left:10px;
width:160px;
height:25px;
font-size:15px;
color:#363030;
padding-top:5px;
padding-left:20px;
}


#side2:hover{background:#87ceeb;
}
#side3:hover{background:#87ceeb;
width:128px;
}#side4:hover{background:#87ceeb;
width:128px;
}#side5:hover{background:#87ceeb;
width:128px;
}#side6:hover{background:#87ceeb;
width:128px;
}#side7:hover{background:#87ceeb;
width:128px;

}

div a{
	text-decoration:none;
	color:#363030;
}

.post01{
top:-100px;
left:150px;
position:absolute;
width:1158px;
height:561px;
background-color:#ECF0F1;

-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}

.post02{
top:-128px;
left:150px;
position:absolute;
width:1158px;
height:561px;
background-color:#ECF0F1;

-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}

.post03{
top:-160px;
left:150px;
position:absolute;
width:1158px;
height:561px;
background-color:#ECF0F1;

-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}

.post04{
top:-190px;
left:150px;
position:absolute;
width:1158px;
height:561px;
background-color:#ECF0F1;

-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}
		
.post05{
top:-220px;
left:150px;
position:absolute;
width:1158px;
height:561px;
background-color:#ECF0F1;

-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}	
	
h1
{
	color:#142170;
	top:90px;
	position:center;
	left:300px;
	
}

input[type=radio]
{
	height:20px;
	width:20px;
	
}
	
#p1{
	padding:15px;
	font-size:30px;
	color:black;
	background-color:#DAF7A6;
}
#p2{
	padding:15px;
	font-size:30px;
	color:black;
	background-color:green;
}
#p3{
	padding:15px;
	font-size:30px;
	color:black;
	background-color:yellow;
}
#p4{
	padding:15px;
	font-size:30px;
	color:black;
	background-color:#7D3C98;
}
#p5{
	padding:15px;
	font-size:30px;
	color:black;
	background-color:orange;
}
#d1{
	font-size:25px;
	color:black;
}
#d2{
	font-size:20px;
}
#d3{
	font-size:23px;
}
#d4{
	font-size:20px;
}

.button{
	background-color:#142170;
	border:none;
	color:white;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	display: inline-block;
	font-size:16px;
}





